<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head th:fragment="common_header(title, links)">

	<title th:replace="${title}">Page Title</title>

	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	
	<!-- Bootstrap -->
	<link th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}" href="/webjars/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" />

	<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
	<!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

	<link th:href="@{/resources/css/core.css}" href="/resources/css/core.css" rel="stylesheet" />

	<!--/* Per-page placeholder for additional links */-->
	<th:block th:replace="${links}" />

  <script th:inline="javascript">
    /*<![CDATA[*/
      var contextUrl = /*[[@{/}]]*/;
    /*]]>*/
  </script>

</head>

<body>

  <div th:fragment="menu">

    <nav class="navbar navbar-default">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false"
            aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span>            
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" th:href="@{/}">Counters Values</a>
        </div>
        <div id="navbarCollapse" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li th:class="${activeNav == 'counters'}? 'active'" ><a th:href="@{/}">Counters</a></li>
            </li>
          </ul>
          <ul class="nav navbar-nav navbar-right">

            <li class="dropdown">

              <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" name="currentLogin">
                <i class="glyphicon glyphicon-user"></i>
                <span id="loggedInUsername" sec:authentication="name">username</span> <span class="caret"></span>
              </a>

              <ul class="dropdown-menu">
                <li>
                  <form action="/logout" th:action="@{/logout}" method="post">
                    <p class="navbar-btn">
                      <button type="submit" class="btn btn-link"><span class="glyphicon glyphicon-log-out"></span> Logout</button>
                    </p>
                  </form>
                </li>
              </ul>
              
            </li>

          </ul>

        </div>

      </div>
    </nav>

  </div> <!-- fragment end -->


</body>

</html>