<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">


<head th:replace="fragments/header :: common_header(~{::title}, ~{})">

  <title th:text="(${mode == 'EDIT'}? 'Edit Counter' : 'Add Counter') + ' - Counters'">Add / Edit Counter</title>

</head>

<body>

  <div th:replace="fragments/header :: menu" ></div>

  <div class="container">

    <legend>
      <h2 th:text="${mode == 'EDIT'}? 'Edit Counter' : 'Add Counter'">Add / Edit Counter</h2>
    </legend>

    <div th:if="${success}" class="alert alert-success" th:text="#{${success}}"></div>
    <div th:if="${error}" class="alert alert-danger" th:text="#{${error}}"></div>
   
    <form method="POST" class="form-horizontal" th:object="${counterForm}" role="form" data-toggle="validator">
      <div class="form-group">
        <label class="control-label col-sm-3" for="name">Counter Name<span class="required">*</span></label>
        <div class="col-sm-6">
          <input type="text" class="form-control" th:field="*{name}" name="name" placeholder="Counter name"
            th:attr="data-required-error=#{message.error.empty.field}" required>
          <input type="hidden" th:field="*{id}" name="id" th:if="${mode == 'EDIT'}">
          <div th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="text-danger">Name Error</div>
          <div class="help-block with-errors"></div>
        </div>
      </div>
      <div class="form-group">
        <label class="control-label col-sm-3" for="type">Counter Type<span class="required">*</span></label>
        <div class="col-sm-6">
            <select class="form-control" th:field="*{type}" name="type">
              <option th:each="type : ${typesMap}" th:value="${type.key}" th:text="${type.value}"></option>
            </select>
            <div th:if="${#fields.hasErrors('type')}" th:errors="*{type}" class="text-danger">Type Error</div>
            <div class="help-block with-errors"></div>
        </div>
      </div>
      <div class="form-group">
        <label class="control-label col-sm-3" for="type">Counter Value<span class="required">*</span></label>
        <div class="col-sm-6">
          <input type="text" class="form-control" th:field="*{value}" name="value" placeholder="Counter Value"
            th:attr="data-required-error=#{message.error.empty.field}" required>
            <div th:if="${#fields.hasErrors('value')}" th:errors="*{value}" class="text-danger">Value Error</div>
            <div class="help-block with-errors"></div>
        </div>
      </div>
      <div class="form-group"> 
        <div class="col-sm-offset-3 col-sm-10">
          <button type="submit" class="btn btn-default">Submit</button>
          <a th:href="@{/counters}" href="#" class="btn btn-large btn-default">Cancel</a>
        </div>
      </div>
    </form>    

  </div>

  <div th:replace="fragments/footer :: common_scripts"></div>

  <div th:replace="fragments/footer :: footer">&copy; </div>

</body>

</html>