<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">


<head th:replace="fragments/header :: common_header(~{::title}, ~{})">

  <title>Counters</title>

</head>

<body>

  <div th:replace="fragments/header :: menu(activeNav='counters')" ></div>

  <div class="container">

    <div th:if="${success}" class="alert alert-success alert-dismissible" th:text="#{${success}}"></div>
    <div th:if="${error}" class="alert alert-danger" th:text="#{${error}}"></div>
    <div id="notifications"></div>
    
    <div>
      <form>
 
         <div class="checkbox" th:each="type : ${typesMap}">
            <label><input class="type-filter" type="checkbox" th:value="${type.key}" th:text="${type.value}" checked="checked"></label>
        </div>

        <div>
          <a th:href="@{/counters}" id="submit-filter-btn" role="button" class="btn btn-default">Apply Filter</a>
        </div>

      </form>
    </div>

    <div class="row list-header-row">
      <div class="pull-right col-xs-1 input-group form-group list-add-buttons">
        <a th:href="@{/counters/add}" class="btn btn-large btn-default">Add Counter</a>
      </div>
    </div>

    <div id="counters_table_full" th:fragment="counters_table_full">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Name</th>
          <th>Type</th>
          <th sec:authorize="hasRole('ADMIN')">Owner</th>
          <th>Value</th>
          <th>Value Date</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody th:if="${#lists.size(counters) > 0}">
        <tr class="counter-table-row" th:each="counter,iterationStatus : ${counters}">
          <td th:text="${counter.name}">Counter Name</td>
          <td th:text="${typesMap.get(counter.type)}">Counter Type</td>
          <td th:text="${counter.owner}" sec:authorize="hasRole('ADMIN')">Owner</td>
          <span th:if="${counter.value != null}" >
	          <td th:text="${counter.value?.value}">Value</td>
            <td th:text="${#dates.format(counter.value?.valueDate, 'dd/MM/yyyy HH:mm:ss')}">Value Date</td>
	        </span>
          <span th:if="${counter.value == null}" >
            <td colspan="2"> no value </td>
	        </span>
          <td>
              <div class="col-xs-3">
                <a href="#" th:href="@{/counters/{id}/edit(id=${counter.id})}" class="text-nowrap">
                  Edit
                </a>
                <a href="#" th:attr="data-id=${counter.id}" class="text-nowrap delete_counter">
                  Delete
                </a>
              </div>
          </td>
        </tr>
      <tbody>
      <tbody class="text-center well well-lg" th:if="${#lists.size(counters) == 0}">
          
          <tr th:inline="text" sec:authorize="hasRole('USER')"><td colspan="5">You have no counters</td></tr>
          <tr th:inline="text" sec:authorize="hasRole('ADMIN')"><td colspan="6">No counters found</td></tr>

      </tbody>
    </table>
    </div>

  </div>

  <div th:replace="fragments/footer :: common_scripts"></div>

  <script th:src="@{/resources/js/counters.js}" src="/resources/js/counters.js"></script>
  
  <div th:replace="fragments/footer :: footer">&copy; </div>

</body>

</html>